<div style="width:80%;margin-left:10%;margin-top:90px">
  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <div>
          <h1>会員様の一覧ページ</h1>
          <br>こちらは、キャンプ一覧のサイトになります。<br />
          <br>こちらのサイトでは、様々なキャンプのレイアウトを紹介します。<br />
          <br>是非、楽しんできて下さい。<br />
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="form-group">
        <table class="table table-bordered" style="width:100%;margin-left:0%;margin-top:30px">
          <tbody>
            <tr>
              <h1>レイアウト紹介</h1>
              <td class="bg-secondary">about</td>
              <td>写真、マナー、道具の紹介です。</td>
            </tr>
            <tr>
              <td class="bg-secondary">いいね</td>
              <td>
                オートキャンプ、ソロキャンプ、ファミリーキャンプの
                画像と説明を見た後にいいねのクリックができるサイトです。
              </td>
            </tr>
            <tr>
              <td class="bg-secondary">キャンプ詳細</td>
              <td>スポット、場所、注意事項、マナー、楽しかったことなどを見るサイトです。</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>