<div style="width:70%;margin-left:10%;margin-top:90px">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div>
          <br><h1>会員様の一覧ページ</h1><br />
          <br>こちらのページはキャンプの一覧ページです。<br />
          <br>様々なキャンプのバリエーションを紹介します。<br />
          <br>是非、楽しんできて下さい。<br />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <table class="table table-bordered" style="width:100%;margin-left:0%;margin-top:50px">
          <tbody>
            <tr>
              <h1>レイアウト紹介</h1>
              <td class="bg-secondary">about</td>
              <td>写真、マナー、道具の紹介です。</td>
            </tr>
            <tr>
              <td class="bg-secondary">いいね</td>
              <td>
                <br>オートキャンプ、ソロキャンプ、ファミリーキャンプの
                画像と説明を見た後にいいねのクリックができるサイトです。</br>
              </td>
            </tr>
            <tr>
              <td class="bg-secondary">会員プロフィール詳細</td>
              <td>会員様にプロフィール詳細です。</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>