<div style="width:80%;margin-left:20%;margin-top:30px">
  <h2>ABOUT</2>
</div>

<div style="width:90%;margin-left:5%;margin-top:30px">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
       <h2>スポットの写真と場所</h2>
        <br>
          <div>
            <%= image_tag 'インザパーク', size: "150x150" %>
          </div>
          <div>
            <td>インザパーク</td>
          </div>
        </br>
        <br>
          <div>
            <%= image_tag '市民の森', size: "150x150" %>
          </div>
          <div>
            <td>市民の森</td>
          </div>
        </br>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <div>
          <ol>
            <h2>大事なマナー</h2>
          <div style="margin-top:20px">
            <h4><一般マナー></h4>
          </div>
            <li>迷惑にならない様に大声で騒いではいけない</li>
            <li>炊事場を占領してはいけない</li>
            <li>炊事場は使い終わったら奇麗にする</li>
            <li>キャンプ終わりにごみは持ち帰る</li>
            <li>キャンプサイトや公共の場は綺麗</li>
            <li>他人のキャンプサイトに無断で入らない</li>
            <li>服装は寒いシーズンの服装も用意する</li>
            <li>好きなところで勝手にキャンプをしていけない</li>
            <li>荒天時などはスタッフの指示に従うこと</li>
            <li>最後までルールを守って迷惑をかけないこと</li>
          <div style="margin-top:10px">
            <h4><睡眠マナー></h4>
          </div>
            <li>就寝時間は光を照らしたりしてはいけない</li>
            <li>就寝時間で大声でお喋りをしないこと</li>
            <li>チェックインの時間を守ること</li>
            <li>チェックアウトの時間を守ること</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <div>
          <ol>
            <h2>キャンプの道具</h2>
          <div style="margin-top:20px">
            <h4><キャンプ用で必要な物></h4>
          </div>
            <li>シェラフ・コット・マット</li>
            <li>テーブル・チェア</li>
            <li>テント・タープ</li>
            <li>ランタン</li>
            <li>寝袋</li>
          <div style="margin-top:10px">
            <h4><食事で必要な物></h4>
          </div>
            <li>バーベキューコンロ・焚き火台</li>
            <li>ホットサンドグリル</li>
            <li>ポータブル電源</li>
            <li>食器セット</li>
            <li>バーナー</li>
          <div style="margin-top:10px">
            <h4><寒さ対策の荷物></h4>
          </div>
            <li>カイロ・ニット帽</li>
            <li>防寒着</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="width:80%;margin-left:50%;margin-top:0px">
  <%= link_to "いいね機能へ", goods_path, class: "btn btn-success" %>
</div>